add
add
add
add
add
push CONSTANT 254
lt
add
push CONSTANT 510
lt
None
push CONSTANT 2
add
push CONSTANT 2
gt
push CONSTANT 2
sub
push CONSTANT 1
gt
add
push CONSTANT 1
sub
add
add
push CONSTANT 2
sub
add
push CONSTANT 1
add
add
push CONSTANT 254
lt
add
push CONSTANT 1
add
push CONSTANT 2
add
add
push CONSTANT 1
sub
add
add
push CONSTANT 1
gt
add
push CONSTANT 1
sub
add
add
push CONSTANT 2
sub
push CONSTANT 1
add
add
add
push CONSTANT 510
lt
push CONSTANT 1
add
add
push CONSTANT 2
add
add
push CONSTANT 1
sub
add
add
