push var Square
push var square
push var Memory
push var direction
push var square
push var direction
push var square
push var direction
push var square
push var direction
push var square
push var Sys
push var exit
push var key
push var Keyboard
push var moveSquare
push var key
push var key
push var square
push var key
push var square
push var key
push var key
push var key
push var key
push var key
push var Keyboard
push var moveSquare
