push var Ax
push var Ay
push var Asize
push var draw
push var Memory
push var Screen
push var Screen
push var x
push var y
push var x
push var size
push var y
push var size
push var Screen
push var Screen
push var x
push var y
push var x
push var size
push var y
push var size
push var y
push var size
push var x
push var size
push var erase
push var size
push var draw
push var size
push var erase
push var size
push var draw
push var y
push var Screen
push var Screen
push var x
push var y
push var size
push var x
push var size
push var y
push var size
push var y
push var Screen
push var Screen
push var x
push var y
push var x
push var size
push var y
push var y
push var size
push var Screen
push var Screen
push var x
push var y
push var x
push var size
push var y
push var y
push var Screen
push var Screen
push var x
push var y
push var size
push var x
push var size
push var y
push var size
push var x
push var Screen
push var Screen
push var x
push var size
push var y
push var x
push var size
push var y
push var size
push var x
push var Screen
push var Screen
push var x
push var y
push var x
push var y
push var size
push var x
push var size
push var Screen
push var Screen
push var x
push var y
push var x
push var y
push var size
push var x
push var Screen
push var Screen
push var x
push var size
push var y
push var x
push var size
push var y
push var size
